<!doctype html>
<html>
<head>
  <title><%= @page %></title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h1 style="border: 1px solid blue; border-radius: 10px">Awesome Item App</h1>
<%= yield %>
</body>
</html>